@model Ders

<!DOCTYPE html>
<html>
<head>
    <title>Ders Bilgisi</title>
</head>
<body>
    <h1>Ders Bilgisi</h1>
    <p>Adı: @Model.Ad</p>
    <p>Seviye: @Model.Seviye</p>
    <p>Öğretmen: @Model.Ogretmen</p>
</body>
</html>